* {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    padding: 4px 10px;
    overflow: hidden;
}

header nav a img {
    height: 30px;
}

div.content, div.search-content {
    display: block;
    margin: auto;
    width: 90%;
}

footer {
    margin-top: 3em;
    display: block;
    padding: 0.5em 0 0.5em 0;
    text-transform: uppercase;
    font-weight: 300;
    color: #A6A6A6;
    background: #454545;
}